
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #434455;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-span {
    color:#2E2F42;
}


.nav-link {
    font-weight: 500px;
    font-size: 16px;
    line-height: 1.5px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav-link :hover,
.nav-link :focus {
    color: #404bbf;
}

.nav-item {
    line-height: 1.5px;
    letter-spacing: 0.02em;
    color: #434455;
}
.nav-item a:hover,
.nav-item a:focus {
    color: #404bbf;
}

.contact-info {
    font-style: normal;
}

.contact-info a:hover,
.contact-info a:focus {
    color: #007bff;
}

.hero {
    background-color: #2e2f42;
}
.text {
    font-size: 56px;
    line-height: 1.07px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.button {
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}
.button a:hover,
.button a:focus {
    background-color: #404BBF;
}


.features-name {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2e2f42;
 
}
.features-p {
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.team {
    background-color: #F4F4FD;
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-list {
    background-color: #FFFFFF;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.portfolio-p {
    font-size: 16;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer {
    background-color: #2e2f42;
}
.logo-f {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo {
    color: #f4f4fd;
}

.footer-p {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

/* #region Roboto */
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
/* #endregion Roboto */
